.menu-responsive {
  position: relative;
  display: none;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 70px;
  color: black;
  display: block;
  transition: 0.3s;
  margin-top: 50px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 70px;
  margin-left: 50px;
}


@media screen and (max-width:1080px) {

  .openbtn {
    font-size: 60px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    margin-right: 20px;
  }

  .menu-responsive {
    display: flex;
    transition: margin-right .5s;
  }
  .sidebar {
    padding-top: 70px;
  }
  .sidebar a {
    font-size: 40px;
  }
}
