
.dropbtn img {
  display: flex;
  border-radius:100px;
  width: 180px;
  height: 180px;
  left: 50px;
  top:10px;
  align-items: center;
  position: fixed;
  z-index: 200;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}


.dropbtn img:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: fixed;
  left: 144px;
  top:170px;
  background-color:#F7ECE1;
  min-width: 160px;
  max-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 30px;
  z-index: 2;

}

/*Links inside the dropdown */
.dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;

}
.dropdown-content a {
  padding-left: 10px;
}
ul {
  padding:0px;
}
/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


@media screen and (max-width: 720px) {

  .dropdown-content {
    display: none;
    position: fixed;
    left: 10px;
    top:210px;
    background-color:#F7ECE1;
    width: 80%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
    font-size: 18px;
  }

  .show {display:block;}

  .dropbtn img {

    display: flex;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: auto;
    top: auto;
    align-items: center;
    position: fixed;
    z-index: 4;
  }

  .dropdown-content li {
    color: black;
    padding: 12px 0px;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
  }
}
