footer {
  background-color: white;
  color : #242424;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mention-legale a{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  margin-left: 50px;
}

#logo-footer{
  margin: 20px;
}

#pied-de-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:auto;
}

.lien-icone:hover{
  opacity: 0.5;
}
.lien-icone{
width: 40px;
height: 40px;
margin-right: 10px;
margin-bottom: 10px;
}

@media screen and (max-width: 720px) {

  .lien-icone{
    width: 50px;
    height: 50px;
  }

  footer {
    flex-direction: column-reverse;
  }

  .mention-legale a {
    margin: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 2em;
  }
}
