section{
  padding: 6rem 80px 4rem 80px;
}

#conteneur-page {
  position: relative;
  min-height: 100vh;
}

#enveloppe-contenu {
  padding-bottom: 54px;
}

.presentation{
  text-align:center;
  width: 65%;
}

.presentation a {
  color: white;
  position: relative;

}

.presentation a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #F7ECE1;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.presentation a:hover::before{
  width: 100%;
}

.presentation a:hover{
  color: #b4a49c; /* Couleur de texte au survol */
}

.accueil{
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

/* A PROPOS */

#p-accueil {
  font-size: 1.25em;
  text-align: justify;
  margin-right: 100px;
  width: 65%;
  padding-top: 90px;
}

.carre-contenu-accueil {
  padding-top: 4rem;
  width: 70%;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: row;
}

.cv-propos img {
  margin-top:50px;
  transition: transform 0.3s;
}

.cv-propos img:hover {
  margin-top:50px;
  transform: scale(1.1);
  cursor: pointer;
}

.cv-propos{
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px black solid;
  padding-left: 90px;
}

/* COMPETENCES */

#competences li {
display: flex;
justify-content: flex-start;
list-style-type: disc;
margin-bottom: 5px;
width : 100%;
font-size: 1.4rem;
}

.logo-competences {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.logo-competences img {
  margin-top: 30px;
  transition: transform 0.3s;
}

.logo-competences img:hover {
  transform: scale(1.1);
}

.list{
  display: flex;
  justify-content: center;
  width:60%
}

.contenu{
  padding-top: 4rem;
  width: 70%;
  margin: 0px auto 0px auto;
  display: flex;
  flex-direction: row;
}

i{
  margin-right: 10px;
  margin-top: 2px;
}

/* CONTACT */
#contact{
text-align: center;
}

.form{
 margin-top: 4rem !important;
}



@media screen and (max-width:1080px) {

  #p-accueil {
    font-size: 30px;
    text-align: justify;
  }

  .carre-contenu-accueil {
    border-right: 2px solid #3a332c;
    border-bottom: 3px solid #3a332c;
    padding: 50px;
    width: 50%;
    margin: 20px auto 50px auto;
  }

  section {
    font-size: larger;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
