* {
    margin: 0;
}

main {
  padding-top: 100px;
  padding-bottom: 150px;
  padding-top: 250px;
}

body {
  background-color: #b4a49c;
  font-family: 'Urbanist', sans-serif;
  font-size: 1em;
  color: white;
  height:100%;
}

a {
  color : black;
  text-decoration: none;
  transition: .15s ease all;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #c6c4c4;
}


h1 {
  color: #F7ECE1;
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2 {
  color: #F7ECE1;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  padding-bottom: 10px;
}

h3 {
  color: #F7ECE1;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 8px;
}

p {
  font-size: 1.25em;
  text-align: center;
}


li {
  font-size: 1.25em;
}
@media screen and (max-width:1080px) {

  main {
      font-size: 20px;
    }
}
