                                          /* STYLE GENERAL */

* {
    margin: 0;
  }

main {
    padding-top: 89px;
    }

body {
    background-color: #b4a49c;
    font-family: 'Urbanist', sans-serif;
    font-size: 1em;
    color: white;
    height:100%;
}

a {
    color : black;
    text-decoration: none;
}

h1 {
    color: #F7ECE1;
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color: #F7ECE1;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    padding-bottom: 10px;
}

h3 {
    color: #F7ECE1;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 8px;
}

p {
    font-size: 1.25em;
    text-align: center;
}
#p-accueil {
    font-size: 1.25em;
    text-align: justify;
}

nav{
    background-color: white;
    color : #242424;
    padding: 25px 50px;
}
footer {
    background-color: white;
    color : #242424;


}
nav,footer{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 400px;
  transition: transform 0.3s;
  margin-left: 100px;
  margin-top: 100px;
}

.card-project:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-project > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: #9c9a9a 1px solid;
}

.card-project h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #242424;
}

.card-project p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: #242424;
  font-size: 14px;
}


.card-project .card-project-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-project-infos .card-project-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.cta {
    display: inline-block;
    background:linear-gradient(#836d63,#bdafa8);
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 50px;
    padding: 15px 20px;
    margin-top: 20px;
}

.cta:hover{
    background: linear-gradient(#9c867c,#66554d);
    text-decoration: none;
}

.categories a {
    margin-left: 30px;
  }

  a:hover{
    color: #c6c4c4;
}

.lien-icone:hover{
    opacity: 0.5;
}
.lien-icone{
  width: 40px;
  height: 40px;
  padding-right: 10px;
}
section{
    padding: 50px 80px 80px 80px;
}


nav{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 3;
}

footer img {
    height: 50px;
    width: 50px;
}

li {
    font-size: 1.25em;
    font-family: 'Urbanist', sans-serif;
}
.carre-contenu-accueil {
    border-right: 2px solid #3a332c;
    border-bottom: 2px solid #3a332c;
    padding: 50px;
    width: 50%;
    margin: auto auto 50px auto;
}

.carre-contenu-accueil+ div {
    text-align: center;
}
.carre-contenu {
    padding: 50px;
    width: 60%;
    margin: auto;
}

.carre-contenu-savoirs {
    border-bottom: 1.5px double #3a332c;
    padding: 50px;
    width: 50%;
    margin: auto auto 50px auto;
}

.carre-contenu h2 {
    margin-top: 30px;
    text-align: center;
  }

.carre-contenu + div {
    text-align: center;
  }

.a-propos{
    margin: auto;
}
.Savoirs h1 {
    padding-top: 50px;
}

.section-vide {
    margin-top: 80px;
}

main {
    animation-duration: 0.4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
        font-size: 0px;
      }

      to {
        font-size: inherit;
      }
  }

/* DROPDOWN */

.dropbtn img {
    display: flex;
    border-radius:100px;
    width: 180px;
    height: 180px;
    left: 50px;
    top:10px;
    align-items: center;
    position: fixed;
    z-index: 4;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: none;
    cursor: pointer;
}


.dropbtn img:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: fixed;
    left: 144px;
    top:170px;
    background-color:#F7ECE1;
    min-width: 160px;
    max-width: 1000px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 30px;
    z-index: 2;

}

/*Links inside the dropdown */
 .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;

}
.dropdown-content a {
    padding-left: 10px;
}
ul {
    padding:0px;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    text-decoration: none;
    background-color:#e2d1c0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*------------------------------------------------ */

.menu-responsive {
    position: relative;
    display: none;
}
 /* The sidebar menu */
 .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }

  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 70px;
    color: black;
    display: block;
    transition: 0.3s;
    margin-top: 50px;
  }

  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 70px;
    margin-left: 50px;
  }


  #conteneur-page {
    position: relative;
    min-height: 100vh;
  }

  #enveloppe-contenu {
    padding-bottom: 54px;
  }

  #pied-de-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
  }


@media screen and (max-width:1080px) {

  .card-project {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    width: 600px;
    transition: transform 0.3s;
    margin-left: 0px;
    margin-top: 100px;
  }

  .card-project > a > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-bottom: #9c9a9a 3px solid;
  }

  .card-project h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    color: #242424;
  }
  .openbtn {
    font-size: 60px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    margin-right: 20px;
  }
  .card-project p {
    font-size: 25px;
    opacity: .7;
    margin: 0;
    color: #242424;
  }

    main {
        animation-duration: 0s;
        animation-name: slidein;
        font-size: 30px;
      }

      #p-accueil {
        font-size: 30px;
        text-align: justify;
      }

    section {
        padding: 50px 20px 50px 20px;
        font-size: larger;
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding: 20px 20px 20px 90px;
        height: 50px;
    }
    header nav img {
        margin-bottom: 20px;
      }
    nav a {
        margin-left: 10px;
        margin-right: 10px;
      }
      .dropdown-content {
        display: none;
        position: fixed;
        left: 100px;
        right: 150px;
        top:200px;
        background-color:#F7ECE1;
        min-width: 70%;
        max-width: 200px;
        height: 280px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 30px;
        font-size: 30px;

    }

    .show {display:block;}

    .dropbtn img {

        display: flex;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        left: auto;
        top: auto;
        align-items: center;
        position: fixed;
        z-index: 4;
    }
    .carre-contenu-accueil {
      border-right: 2px solid #3a332c;
      border-bottom: 3px solid #3a332c;
      padding: 50px;
      width: 50%;
      margin: 20px auto 50px auto;}

    .dropdown-content li {
        color: black;
        padding: 12px 0px;
        text-decoration: none;
    }

    .categories {
        display: none;
    }
    .menu-responsive {
        display: flex;
        transition: margin-right .5s;
    }
    .sidebar {
        padding-top: 70px;
    }
    .sidebar a {
        font-size: 40px;
    }


    #pied-de-page {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100px;
    }

    .lien-icone{
      width: 70px;
      height: 70px;
      margin-right: 10px;
    }

    .cta{
      padding: 40px 50px;
      margin-top: 20px;
      margin-bottom: 50px;
      font-size: 30px;
    }
}
